nbproject

sensors/drivers/.*
sensors/drivers/*.o
sensors/drivers/*.c
sensors/drivers/*.ko
sensors/drivers/modules.order
sensors/drivers/Module.symvers
sensors/light
sensors/orientation
sensors/hinge
sensors/generic_buffer